<div class="input-group input-group-merge">

  <!--  -->
  <!--  -->
  <input class="form-control form-control-lg"
         [type]="this.getPasswordInputType()"
         (keyup)="onKeyUp($event)"
         minlength="8"
         maxlength="24"
         placeholder="{{ 'application.authentication.password-placeholder' }}"
         required>

  <!--  -->
  <a class="input-group-append input-group-text"
     (click)="this.togglePasswordVisible()">

    <!--        -->
    <i class="bi"
       [ngClass]="this.getPasswordEyeIconClass()">
      <!-- THIS ELEMENT SHOULD NOT CONTAIN ANY CONTENT -->
    </i>

  </a>
</div>