<div class="grid">
  <div class="col-span-2">
    <mat-card>
      <mat-card-content>
        <div class="text-wrap">
          Welcome back,
          <div>
            {{ user?.firstName! | titlecase }}!
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-span-4">

  </div>

</div>


<div>
  {{ user?.identifier }}
</div>
<div>
  {{ user?.email }}
</div>

<div>
  {{ user?.firstName }}
</div>

<div>
  {{ user?.lastName }}
</div>

<div>
  {{ user?.createdDate }}
</div>

<div>
  {{ user?.lastModifiedDate }}
</div>

