<form #form="ngForm" (ngSubmit)="submit()">
  <ng-container *ngIf="showStage(stage.QUALIFICATION)">
    <text-field [group]="qualification"
                [sent]="form.submitted"
                [autocomplete]="true"
                [text]="translate('firstName')"
                [invalidText]="translate('invalidFirstName')"
                type="date"
                name="birthDate"/>
  </ng-container>
  <ng-container *ngIf="showStage(stage.BASIC_DATA)">
    <text-field [group]="basicData"
                [sent]="form.submitted"
                [autocomplete]="true"
                [text]="translate('firstName')"
                [invalidText]="translate('invalidFirstName')"
                name="firstName"
                placeholder="Sergio"/>
    <text-field [group]="basicData"
                [sent]="form.submitted"
                [autocomplete]="true"
                [text]="translate('lastName')"
                [invalidText]="translate('invalidLastName')"
                name="lastName"
                placeholder="Mendez"/>
  </ng-container>
  <ng-container *ngIf="showStage(stage.AUTHENTICATION_DATA)">
    <text-field [group]="authenticationData"
                [sent]="form.submitted"
                [autocomplete]="true"
                [text]="translate('email')"
                [invalidText]="translate('invalidEmail')"
                type="email"
                name="email"
                placeholder="sergio.diaz@gmail.com"/>
    <text-field [group]="authenticationData"
                [sent]="form.submitted"
                [autocomplete]="true"
                [text]="translate('password')"
                [invalidText]="translate('invalidPassword')"
                type="password"
                name="password"
                placeholder="{{ 'authentication.validation.passwordRequirements' | translate }}"/>
    <text-field [group]="authenticationData"
                [sent]="form.submitted"
                [autocomplete]="true"
                [text]="translate('confirmPassword')"
                [invalidText]="translate('invalidConfirmPassword')"
                type="password"
                name="confirmPassword"
                placeholder="{{ 'authentication.validation.passwordRequirements' | translate }}"/>
    <div class="form-check mb-3">

      <input [formControl]="privacyPolicy"
             id="privacyPolicyModal"
             class="form-check-input"
             type="checkbox"
             required>

      <label for="privacyPolicyModal" class="form-check-label small">
        {{ "authentication.signup.privacyPolicy.content" | translate }}
        <a routerLink="/privacy-policy" class="link">
          {{ "authentication.signup.privacyPolicy.link" | translate }}
        </a>
      </label>

      <span *ngIf="(form.submitted || isPrivacyPolicyValid()) && privacyPolicy.errors"
            class="invalid-feedback d-block">
      {{ "authentication.signup.invalidPrivacyPolicy" | translate }}
    </span>

    </div>
  </ng-container>

  <div class="d-grid mb-3">
    <button class="btn btn-primary btn-lg" type="submit">
      {{ "authentication.signup.signup" | translate }}
    </button>
  </div>

  <div class="text-center">
    <p>
      {{ "authentication.signup.login.question" | translate }}
      <a routerLink="/authentication/login" class="link">
        {{ "authentication.signup.login.link" | translate }}
      </a>
    </p>
  </div>

</form>
