<div class="navbar-expand-lg navbar-light">
  <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
    <div class="card flex-grow-1 mb-5">
      <div class="card-body">

        <div class="d-none d-lg-block text-center mb-5">
          <div class="mb-3">
            <avatar-image [size]="184"/>
          </div>

          <h4 class="card-title mb-0">{{ fullName }}</h4>
          <p class="card-text small">{{ email }}</p>
        </div>


        <!--        -->
        <our-side-navigation/>

      </div>
    </div>
  </div>
</div>