@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/utilities";

$utilities: (
  "viewport-height": (
    property: height,
    class: vh,
    responsive: true,
    values: (
      100: 100vh,
      75: 75vh,
      50: 50vh,
      25: 25vh,
      0: 0vh
    )
  ),
);

$utilities: map-merge($utilities, (
  "background-position": (
    property: background-position,
    class: bg-position,
    values: top bottom left right center
  ),
  "background-repeat": (
    property: "background-repeat",
    class: bg-repeat,
    values: (
      x: repeat-x,
      y: repeat-y,
      xy: repeat,
      space: space,
      round: round,
      0: no-repeat
    )
  ),
  "background-size": (
    property: "background-size",
    class: bg-size,
    values: cover contain
  ),
  "cursor": (
    property: "cursor",
    class: cursor,
    values: pointer
  )
));


@import "bootstrap/scss/utilities/api";
