<div class="d-grid gap-3 gap-lg-5">
  <div class="card">
    <div class="card-header border-bottom">
      <h4 class="card-header-title">
        {{ "me.overview.basicInformation" | translate }}
      </h4>
    </div>

    <div class="card-body">
      <div class="row mb-3 align-items-center">
        <div class="col-sm-3 col-form-label form-label">
          {{ "me.overview.fullName" | translate }}
        </div>

        <div class="col-sm-9">
          {{ user?.firstName }} {{ user?.lastName }}
        </div>
      </div>

      <div class="row mb-3 align-items-center">
        <div class="col-sm-3 col-form-label form-label">
          {{ "me.overview.email" | translate }}
        </div>

        <div class="col-sm-9">
          {{ user?.email }}
        </div>
      </div>

      <div class="row mb-3 align-items-center">
        <div class="col-sm-3 col-form-label form-label">
          {{ "me.overview.gender" | translate }}
        </div>

        <div class="col-sm-9">
          {{ "core.model.gender." + user?.gender!! | lowercase | translate }}
        </div>
      </div>

      <div class="row mb-3 align-items-center">
        <div class="col-sm-3 col-form-label form-label">
          {{ "me.overview.birthDate" | translate }}
        </div>

        <div class="col-sm-9">
          {{ user?.birthDate | date: "mediumDate" }}
        </div>
      </div>

      <div class="row mb-3 align-items-center">
        <div class="col-sm-3 col-form-label form-label">
          {{ "me.overview.createdDate" | translate }}
          <i ngbTooltip="{{ 'me.overview.createdDateExplanation' | translate }}"
             class="bi-question-circle text-body ms-1">

          </i>
        </div>

        <div class="col-sm-9">
          {{ user?.createdDate | date: "medium" }}
        </div>
      </div>

      <div class="row mb-3 align-items-center">
        <div class="col-sm-3 col-form-label form-label">
          {{ "me.overview.lastModifiedDate" | translate }}
          <i ngbTooltip="{{ 'me.overview.lastModifiedDateExplanation' | translate }}"
             class="bi-question-circle text-body ms-1">

          </i>
        </div>

        <div class="col-sm-9">
          {{ user?.lastModifiedDate
          ? (user?.lastModifiedDate | date: "medium")
          : "me.overview.lastModifiedDateNone" | translate }}
        </div>
      </div>

    </div>
  </div>
</div>