<div class="d-grid gap-3 gap-lg-5">

  <div class="card">
    <div class="card-header border-bottom">
      <h4 class="card-header-title">
        {{ "me.changeAvatar.uploadAvatar" | translate }}
      </h4>
    </div>

    <div class="card-body">
      <p class="card-text">
        {{ "me.changeAvatar.uploadRequirements" | translate }}
      </p>

      <input type="file" class="form-control" (change)="onChange($event)"/>

      <div *ngIf="file" class="mt-2">
        <section class="file-info">
          File details:
          <ul>
            <li>Name: {{file.name}}</li>
            <li>Last modified: {{ lastModifiedDate }}</li>
            <li>Type: {{file.type}}</li>
            <li>Size: {{file.size}} bytes</li>
          </ul>
        </section>

        <button (click)="onUpload()" class="btn btn-primary">
          {{ "me.changeAvatar.uploadFile" | translate }}
        </button>
      </div>
    </div>

  </div>

  <div class="card">
    <div class="card-header border-bottom">
      <h4 class="card-header-title">
        {{ "me.changeAvatar.removeAvatar" | translate }}
      </h4>
    </div>

    <div class="card-body">
      <p class="card-text">
        {{ "me.changeAvatar.removeInformation" | translate }}
      </p>

      <button (click)="onDelete()" class="btn btn-danger">
        {{ "me.changeAvatar.deleteAvatar" | translate }}
      </button>
    </div>
  </div>

</div>