<form class="" novalidate="">
  <div class="mb-3">
    <div class="d-flex justify-content-between align-items-center">
      <label class="form-label" for="modal-email">
        {{ "application.authentication.your-email" | translate }}
      </label>
      <a routerLink="/authentication/login" class="form-label-link">
        <i class="bi bi-chevron-left small ms-1">
          <!-- THE ELEMENT SHOULD NOT CONTAIN ANY CONTENT -->
        </i>
        <span>
            {{ "application.authentication.forgot-password.back" | translate }}
          </span>
      </a>
    </div>
    <input id="modal-email"
           name="email"
           class="form-control form-control-lg"
           type="email"
           placeholder="{{ 'application.authentication.forgot-password.email' | translate }}"
           required="true">
    <span class="invalid-feedback">
        {{ "application.authentication.invalid-email" | translate }}
      </span>
  </div>
  <div class="d-grid mb-3">
    <button type="submit" class="btn btn-primary btn-lg">
      {{ "submit" | translate }}
    </button>
  </div>
</form>