<nav class="navbar navbar-expand-md navbar-light bg-light shadow align-items-baseline">
  <div class="container">
    <a class="navbar-brand" href="/">
      Covilo
    </a>
    <button (click)="toggleCollapse()" class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon">
          <!-- menu icon -->
        </span>
    </button>

    <div [ngbCollapse]="isCollapsed" class="navbar-collapse collapse">
      <ul class="navbar-nav me-auto">
        <li *ngFor="let link of itemList" [routerLinkActive]="['active']"
            class="nav-item">
          <a [routerLink]="link.reference" class="nav-link">
            {{ link.name | translate }}
          </a>
        </li>
      </ul>

      <div class="navbar-nav">
        <covilo-avatar *ngIf="isLoggedIn"/>

        <ng-template [ngIf]="!isLoggedIn">
          <button class="btn btn-sm btn-outline-primary me-1"
                  routerLink="./authentication/login"
                  type="button">
            {{ "core.navigation.login" | translate }}
          </button>

          <button class="btn btn-sm btn-primary"
                  routerLink="./authentication/signup"
                  type="button">
            {{ "core.navigation.signup" | translate }}
          </button>
        </ng-template>
      </div>

    </div>

  </div>
</nav>
