<form #formElement="ngForm"
      (ngSubmit)="submit()">

  <div class="mb-3">
    <label for="recognizableNameModal"
           class="form-label">
      {{ "authentication.login.email" | translate }}
    </label>

    <input [formControl]="email"
           [ngClass]="{ 'is-invalid' : formElement.submitted && email.errors || isEmailValid() }"
           placeholder="sergio.diaz@gmail.com"
           id="recognizableNameModal"
           class="form-control form-control-lg"
           type="email"
           autocomplete="on"
           required>
    <!-- Displays information about incorrect completion of a field -->
    <!-- with a recognizable name. -->
    <span *ngIf="(formElement.submitted || isEmailValid()) && email.errors"
          class="invalid-feedback">
        {{ "authentication.invalid-email" | translate }}
      </span>
  </div>

  <div class="mb-3">
    <div class="d-flex justify-content-between align-items-center">
      <label for="passwordModal"
             class="form-label">
        {{ "authentication.login.password" | translate }}
      </label>

      <a routerLink="/authentication/reset-password"
         class="form-label-link">
        {{ "authentication.login.forgotPassword" | translate }}
      </a>
    </div>

    <input [formControl]="password"
           [ngClass]="{ 'is-invalid' : formElement.submitted && email.errors || isPasswordValid() }"
           placeholder="{{ 'authentication.validation.passwordRequirements' | translate }}"
           id="passwordModal"
           class="form-control form-control-lg"
           type="password"
           autocomplete="on"
           required>
    <!-- Displays information about incorrect completion of a field -->
    <!-- with a password. -->
    <span *ngIf="(formElement.submitted || isPasswordValid()) && password.errors"
          class="invalid-feedback">
        {{ "authentication.invalid-password" | translate }}
      </span>
  </div>

  <div class="d-grid mb-3">
    <button class="btn btn-primary btn-lg" type="submit">
      {{ "authentication.login.login" | translate }}
    </button>
  </div>

  <div class="text-center">
    <p>
      {{ "authentication.login.signup.question" | translate }}
      <a routerLink="/authentication/signup" class="link">
        {{ "authentication.login.signup.link" | translate }}
      </a>
    </p>
  </div>
</form>
