<mat-card class="login-card">

  <mat-card-header style="display: flex; justify-content: center;
  align-items: center; text-align: center; padding-bottom: 20px;">
    <mat-card-title>
      Forgot password?
    </mat-card-title>

    <mat-card-subtitle>
      Enter your email address below and we'll help you recover your account.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <!-- Form for user login -->
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form2">

      <div style="display: flex; justify-content: flex-end; align-items:
      center; padding-bottom: 0.5rem;">
        <a routerLink="/authentication/login">
          < Back to Log in
        </a>
      </div>

      <!-- Username input field -->
      <mat-form-field class="example-full-width">
        <mat-label>
          Username
        </mat-label>

        <input matInput
               [formControl]="usernameControl"
               type="email"
               placeholder="Username">

        <!-- Display error message if username is invalid and has been touched -->
        @if (false) {
          <mat-error>
            Username is required
          </mat-error>
        }
      </mat-form-field>

      <!-- Login button -->
      <button mat-raised-button color="primary" type="submit" class="example-full-width">
        Continue
      </button>
    </form>
  </mat-card-content>


</mat-card>