<div class="navbar navbar-expand navbar-light w-100 position-absolute">
  <div class="container-fluid">
    <div class="navbar-nav w-100">
      <a navigationBack class="navbar-brand d-none d-lg-flex me-auto">
        Covilo
      </a>

      <div class="ms-auto">
        <a navigationBack class="link link-secondary">
          <i class="bi-chevron-left small ms-1"></i> Go to main
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 col-xl-4 d-none d-lg-flex justify-content-center align-items-center min-vh-100 position-relative bg-dark">

    </div>

    <div class="col-lg-7 col-xl-8 d-flex justify-content-center align-items-center min-vh-100">
      <div class="column mx-auto">

        <div class="mb-5 mb-md-7 text-center">
          <h2>
            {{ childPath + ".title" | translate }}
          </h2>
          <p>
            {{ childPath + ".description" | translate }}
          </p>
        </div>

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>