@import "src/styles";

.header {
  @extend .navbar;
  @extend .navbar-expand;
  @extend .navbar-light;

  width: 100%;
  position: absolute;
}

.row {
  @extend .row;

  .first-column {
    @extend .col-lg-5;
    @extend .col-xl-4;
    @extend .d-lg-flex;
    @extend .min-vh-100;
    @extend .bg-dark;

    display: none;
    align-items: center;
  }

  .second-column {
    @extend .col-lg-7;
    @extend .col-xl-8;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}