<authentication-navigation-bar/>

<div class="container-fluid">
  <div class="row min-vh-100">

    <div class="col-lg-6 col-xl-4 d-none d-lg-flex justify-content-center align-items-center bg-dark">
      <authentication-side-bar/>
    </div>

    <div class="col-lg-6 col-xl-8 d-flex justify-content-center align-items-center">
      <div class="mx-auto" style="max-width: 28rem; flex-grow: 1;">

        <div class="mb-5 mb-md-7 text-center">
          <h2>
            {{ childPath + ".title" | translate }}
          </h2>
          <p>
            {{ childPath + ".description" | translate }}
          </p>
        </div>

        <router-outlet/>
      </div>
    </div>
  </div>
</div>