<div ngbDropdown class="nav-item">
  <div ngbDropdownToggle>
    <img class="avatar-image"
         src="https://cdn.discordapp.com/embed/avatars/0.png" alt="avatar">
    <span>
          <!-- TODO replace to username -->

        </span>
  </div>
  <div ngbDropdownMenu>
    <button ngbDropdownItem>Action - 1</button>
    <button ngbDropdownItem>Another Action</button>
    <button ngbDropdownItem>Something else is here</button>
    <div class="dropdown-divider"></div>

    <button ngbDropdownItem
            (click)="logout()"
            class="text-danger">
      {{ "logout" | translate }}
    </button>

  </div>
</div>
