<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 col-xl-4 d-none d-lg-flex align-items-center min-vh-100 bg-dark">
    </div>

    <div class="col-lg-7 col-xl-8 d-flex justify-content-center align-items-center min-vh-lg-100">
      <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
        <div class="text-center mb-5 mb-md-7">
          <h1 class="h2">Welcome to Covilo</h1>
          <p>Fill out the form to get started.</p>
        </div>

        <form class="js-validate needs-validation" novalidate="" method="post">
          <router-outlet></router-outlet>
        </form>
      </div>
    </div>
  </div>
</div>