<div class="d-grid gap-3 gap-lg-5">
  <div class="card">
    <div class="card-header border-bottom">
      <h4 class="card-header-title">
        {{ "me.overview.basicInformation" | translate }}
      </h4>
    </div>

    <div class="card-body">
      <div class="row mb-4">
        <label class="col-sm-3 col-form-label form-label">
          {{ "me.overview.fullName" | translate }}
          <i class="bi-question-circle text-body ms-1">

          </i>
        </label>

        <div class="col-sm-9">
          <div>
            {{ user?.firstName }} {{ user?.lastName }}
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <label class="col-sm-3 col-form-label form-label">
          {{ "me.overview.email" | translate }}
          <i class="bi-question-circle text-body ms-1">

          </i>
        </label>

        <div class="col-sm-9">
          <div>
            {{ user?.email }}
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <label class="col-sm-3 col-form-label form-label">
          {{ "me.overview.gender" | translate }}
          <i class="bi-question-circle text-body ms-1">

          </i>
        </label>

        <div class="col-sm-9">
          <div>
            {{ user?.gender | titlecase }}
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <label class="col-sm-3 col-form-label form-label">
          {{ "me.overview.createdDate" | translate }}
          <i class="bi-question-circle text-body ms-1">

          </i>
        </label>

        <div class="col-sm-9">
          <div>
            {{ user?.createdDate }}
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <label class="col-sm-3 col-form-label form-label">
          {{ "me.overview.lastModifiedDate" | translate }}
          <i class="bi-question-circle text-body ms-1">

          </i>
        </label>

        <div class="col-sm-9">
          <div>
            {{ user?.lastModifiedDate }}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>