<div ngbDropdown class="nav-item">
  <div ngbDropdownToggle>
    <img class="avatar-image"
         src="https://cdn.discordapp.com/embed/avatars/0.png" alt="avatar">
    <span>
          {{ me?.email }}

        </span>
  </div>
  <div ngbDropdownMenu>
    <button ngbDropdownItem routerLink="me/overview">Overview</button>
    <div class="dropdown-divider"></div>

    <button ngbDropdownItem
            (click)="logout()"
            class="text-danger">
      {{ "core.avatar.logout" | translate }}
    </button>

  </div>
</div>
