<form #form="ngForm"
      (ngSubmit)="submit()">
  <ng-container *ngIf="showStage(stage.QUALIFICATION)">
    <text-field [group]="qualification"
                [sent]="form.submitted"
                [autocomplete]="true"
                [text]="translate('birthDate')"
                [feedback]="translate('invalidFirstName')"
                type="date"
                name="birthDate"/>
  </ng-container>
  <ng-container *ngIf="showStage(stage.BASIC_DATA)">
    <text-field [group]="basicData"
                [sent]="form.submitted"
                [autocomplete]="true"
                [text]="translate('firstName')"
                [feedback]="translate('invalidFirstName')"
                name="firstName"
                placeholder="Sergio"/>
    <text-field [group]="basicData"
                [sent]="form.submitted"
                [autocomplete]="true"
                [text]="translate('lastName')"
                [feedback]="translate('invalidLastName')"
                name="lastName"
                placeholder="Mendez"/>
  </ng-container>
  <ng-container *ngIf="showStage(stage.AUTHENTICATION_DATA)">
    <text-field [group]="authenticationData"
                [sent]="form.submitted"
                [autocomplete]="true"
                [text]="translate('email')"
                [feedback]="translate('invalidEmail')"
                type="email"
                name="email"
                placeholder="sergio.diaz@gmail.com"/>
    <text-field [group]="authenticationData"
                [sent]="form.submitted"
                [text]="translate('password')"
                [feedback]="translate('invalidPassword')"
                type="password"
                name="password"
                placeholder="{{ 'authentication.validation.passwordRequirements' | translate }}"/>
    <text-field [group]="authenticationData"
                [sent]="form.submitted"
                [text]="translate('confirmPassword')"
                [feedback]="translate('invalidConfirmPassword')"
                type="password"
                name="confirmPassword"
                placeholder="{{ 'authentication.validation.passwordRequirements' | translate }}"/>
    <text-field [group]="authenticationData"
                [sent]="form.submitted"
                [text]="translate('privacyPolicy.content')"
                [feedback]="translate('invalidPrivacyPolicy')"
                type="checkbox"
                name="privacyPolicy">
      <a inside
         routerLink="/privacy-policy">
        {{ "authentication.signup.privacyPolicy.link" | translate }}
      </a>
    </text-field>
  </ng-container>
  <div class="d-grid mb-3">
    <button [disabled]="!showStage(stage.INTIMATION)"
            class="btn btn-primary btn-lg"
            type="submit">
      {{ "authentication.signup.signup" | translate }}
    </button>
  </div>
  <div class="text-center">
    {{ "authentication.signup.login.question" | translate }}
    <a routerLink="/authentication/login">
      {{ "authentication.signup.login.link" | translate }}
    </a>
  </div>
</form>
